<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="/dist/leaflet.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/dist/leaflet.ie.css"/>
    <![endif]-->

    <script src="/dist/leaflet-src.js"></script>

    <% if ( agent.indexOf( 'Mobile' ) > 0 ) {%>
    <script src="/dist/cordova-2.3.0.js"></script>
    <% } else { %>
    <% } %>
    <style>
      #clients ul {
        list-style: none;
      }

      #clients li {
        list-style: none;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <!--<div id="map" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>-->
    <div id="videos">
      <div id="local" class="videos"></div>
      <div id="remote" class="videos"></div>
    </div>
    <div>
      <ul id="clients">
      </ul>
    </div>
    <script src="/browserify"></script>
    <script>
      var b = require( 'branding' );
      var _ = require( 'underscore' );
      var u = require( 'util' );
      var $ = require( 'jquery' );
      var i = require( 'socket.io' );
      var c = require( 'conference' );
    </script>
    <script>
      var host = "http://" + document.location.hostname + "/conference";
      var opts = {
        transports: ['websocket'],
        remoteVideosEl: 'remote'
      }
      var name = "<%= name %>";

      var conference = new c( host, opts );

      conference.on( "ready", function () {
        console.log( "Ready ... " );
        conference.enter( name, function ( data ) {
          // add remote client(s)
        } );
      } );

      conference.on( "welcome", function ( data ) {
        console.log( u.inspect( data ) );
      } );

      conference.on( "enter", function ( data ) {
        console.log( u.inspect( data ) );
        $( '#clients' ).append( "<li id='" + data.name + "'>" + data.name + "</li>" );
        $( '#' + data.name ).bind( "click", function ( event ) {
          conference.call( data );
          event.preventDefault();
        } );
      } );

      conference.on( "offer", function ( data ) {
        console.log( u.inspect( data ) );
      } );

      conference.on( "exit", function ( data ) {
        console.log( u.inspect( data ) );
        $( '#' + data.name ).remove();
      } );


    </script>
  </body>
</html>
