<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="/dist/leaflet.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/dist/leaflet.ie.css"/>
    <![endif]-->

    <script src="/dist/leaflet-src.js"></script>
    <script src="/dist/leaflet.ajax.js"></script>

    <% if ( agent.indexOf( 'Mobile' ) > 0 ) {%>
    <script src="/dist/cordova-2.3.0.js"></script>
    <% } else { %>
    <% } %>
  </head>
  <body>
    <div id="map" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>

    <!--<script type="text/javascript" src="http://localhost:8888/elevation.js?variable=elevation"></script>-->

    <script src="/browserify?libs=branding,topojson"></script>
    <script>
      var b = require( 'branding' );
      var t = require( 'topojson' );
    </script>
    <script>

      var c = "http://" + document.location.hostname + ":8888/";

      var f = '/{z}/{x}/{y}.png';
      var g = '/{z}/{y}/{x}.png';

      var map = L.map( 'map', { attributionControl: false } )
          .setView( [-37.8, 144.9], 7 );


      L.control.scale( { imperial: false } ).addTo( map );

      var underlays = {
        "emap"   : L.tileLayer( c + 'mapscape' + f, { maxZoom: 18 } ).addTo( map ),
        "arcgis" : L.tileLayer( c + 'arcgistopo' + f, { maxZoom: 19 } ).addTo( map )
      };

      var overlays = {
        //"elevation": L.geoJson( t.feature( elevation, districts.objects['DSE_LF_DISTRICTS'] ), {
        //  style: style,
        //  onEachFeature: onEachFeature( "districts" )
        //} )
        "elevation": L.geoJson.ajax( c + 'elevation_100.json', {
        } )
      };

      L.control.layers( underlays, overlays ).addTo( map );

    </script>
  </body>
</html>
