<!--<input type="text" ng-model="search" class="search-query" placeholder="Search">-->
<table>
  <caption>Dependencies</caption>
  <thead>
    <tr>
      <th>Project</th>
      <th>Version</th>
      <!--<th><a href="#/new"><i class="icon-plus-sign"></i></a></th>-->
    </tr>
  </thead>
  <tbody>
    <!--<tr ng-repeat="dependency in package.dependencies | filter:search">-->
    <!--<td><a href="{{project.site}}" target="_blank">{{project.name}}</a></td>-->
    <!--<td>-->
    <!--</td>-->
    <!--<td>-->
    <!--<a href="#/edit/{{project.$id}}"><i class="icon-pencil"></i></a>-->
    <!--</td>-->
    <!--</tr>-->
  </tbody>
</table>
<input type="text" ng-model="package.author" size="50" placeholder="add new todo here"/>
<!--{{package.author}}-->
