<!doctype html>
<html>
  <head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="/dist/leaflet.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/dist/leaflet.ie.css"/>
    <![endif]-->

    <script src="/dist/leaflet-src.js"></script>
    <script src="/dist/leaflet-hash.js"></script>

    <% if ( agent.indexOf( 'Mobile' ) > 0 ) {%>
    <script src="/dist/cordova-2.3.0.js"></script>
    <% } else { %>
    <% } %>
  </head>
  <body>
    <div id="map" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>
    <script src="/browserify/load?libs=branding"></script>
    <script>
      var b = require( 'branding' );
    </script>
    <script>
      var b = "http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile";
      var c = "http://" + document.location.hostname + ":8888/";

      var f = '/{z}/{x}/{y}.png';
      var g = '/{z}/{y}/{x}.png';

      var map = L.map( 'map', { attributionControl: false } )
          .setView( [-37.8, 144.9], 7 );

      L.control.scale( { imperial: false } ).addTo( map );

      var underlays = {
        //"emap"   : L.tileLayer( c + 'mapscape' + f, { maxZoom: 18 } ).addTo( map ),
        "arcgis" : L.tileLayer( b + g, { maxZoom: 19 } ).addTo( map )
      };

      L.control.layers( underlays, {} ).addTo( map );
      L.control.scale({ imperial: false }).addTo(map);
      //var hash = new L.Hash(map);
      L.hash(map);

    </script>
  </body>
</html>
