<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h4>Demos</h4>
    <ul>
      <li><a href="/coverage">coverage</a></li>
      <li><a href="/wax">wax</a></li>
    </ul>
  </body>
</html>