<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="/dist/leaflet.css"/>
    <link rel="stylesheet" href="/dist/camstreet.time.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/dist/leaflet.ie.css"/>
    <![endif]-->

    <script src="/dist/leaflet-src.js"></script>

    <% if ( agent.indexOf( 'Mobile' ) > 0 ) {%>
    <script src="/dist/cordova-2.3.0.js"></script>
    <% } else { %>
    <% } %>
  </head>
  <body>
    <div id="map" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>
    <!--<script src="/dist/bundle.js"></script>-->
    <script src="/browserify"></script>
    <script>
      require( 'branding' );
      require( 'time' );
      var _ = require( 'underscore' );
      var u = require( 'util' );
      var $ = require( 'jquery' );
      var i = require( 'socket.io' );
    </script>
    <script>
      var a = "http://emap.dse.vic.gov.au/ArcGIS/rest/services/mapscape/MapServer/tile";
      var b = "http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/";

      var c = "http://" + document.location.hostname + ":8888/";
      var d = "http://" + document.location.hostname + ":9090/ncwms/wms?crs=CRS:84";

      var f = '/{z}/{x}/{y}.png';
      var g = '/{z}/{y}/{x}.png';

      var map = L.map( 'map', {
        attributionControl: false,
        timeControl: true
      } ).setView( [-37.8, 144.9], 7 );

      var underlays = {
        "arcgis": L.tileLayer( b + g, { maxZoom: 18 } ).addTo( map )
      };

      var overlays = {
        "ffdi": L.tileLayer.wms( d, {
          service: 'wms',
          //crs: 'CRS:84',
          //time: '2013-03-08T18:00:00.000Z',
          time: new Date( 2013, 04, 06 ).toISOString(),
          request: 'GetMap',
          version: '1.3.0',
          layers: '1/FFDI_SFC',
          styles: '',
          opacity: 0.3,
          format: 'image/png;mode=32bit',
          transparent: true
        } ).addTo( map ),
        "temp": L.tileLayer.wms( d, {
          service: 'wms',
          //crs: 'CRS:84',
          //time: '2013-03-08T18:00:00.000Z',
          time: new Date( 2013, 04, 06 ).toISOString(),
          request: 'GetMap',
          version: '1.3.0',
          layers: '2/T_SFC',
          styles: '',
          opacity: 0.3,
          format: 'image/png;mode=32bit',
          transparent: true
        } ).addTo( map )
        //"ffdi"     : L.tileLayer(c + 'ffdi' + f, { maxZoom: 18, opacity: 0.3 }).addTo(map),
        //"temp"     : L.tileLayer(c + 'temp' + f, { maxZoom: 18, opacity: 0.3 }).addTo(map)
      };

      L.control.layers( underlays, overlays ).addTo( map );

    </script>
  </body>
</html>
