<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="/dist/leaflet.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/dist/leaflet.ie.css"/>
    <![endif]-->

    <script src="/dist/leaflet-src.js"></script>

    <% if ( agent.indexOf( 'Mobile' ) > 0 ) {%>
    <script src="/dist/cordova-2.3.0.js"></script>
    <% } else { %>
    <% } %>
  </head>
  <body>
    <div id="map" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>
    <script src="/browserify?libs=branding,io"></script>
    <script>
      var b = require( 'branding' );
      var i = require( 'socket.io' );
    </script>
    <script>

      var a = "http://emap.dse.vic.gov.au/ArcGIS/rest/services/mapscape/MapServer/tile";
      var b = "http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/";

      var c = "http://" + document.location.hostname + ":8888/";
      var f = '/{z}/{x}/{y}.png';
      var g = '/{z}/{y}/{x}.png';

      var map = L.map( 'map', { attributionControl: false,
        timeControl: true } )
          .setView( [-37.8, 144.9], 7 );

      L.control.scale( { imperial: false } ).addTo( map );

      var underlays = {
        "arcgis": L.tileLayer( b + g, { maxZoom: 18 } ).addTo( map )
      };

      var overlays = {
      };

      var assets = {};
      var asset = i.connect( "http://" + document.location.hostname + "/asset", { transports: ['websocket'] } );
      asset.on( 'connect', function () {
        //asset.emit('identity', prompt('Identity'), function( message ){
        asset.emit( 'identity', '<%= id %>', function ( message ) {
          navigator.geolocation.watchPosition(
              function ( position ) {
                asset.emit( "position", position );
                if ( !assets['home'] ) {
                  assets['home'] = new L.Marker( [ position.coords.latitude,
                                                   position.coords.longitude ] );
                  assets['home'].bindPopup('x = ' + position.coords.latitude + ', y = ' + position.coords.longitude);
                  assets['home'].addTo( map );
                }
                else {
                  assets['home'].setLatLng( [ position.coords.latitude,
                                              position.coords.longitude ] )
                }
              },
              function ( error ) {
                console.log( error );
              }
          );
          /*
           setInterval(function() {
           navigator.geolocation.getCurrentPosition(
           function( position ) {

           //console.log( u.inspect( position ) );

           asset.emit( "position", position );
           if (!assets['home']) {
           assets['home'] = new L.Marker([ position.coords.latitude,
           position.coords.longitude ]);
           assets['home'].bindPopup('<p>hello<ol><li>husdhuhf</li></ol></p>').addTo(map);
           //assets['home'].addTo(map);
           } else {
           assets['home'].setLatLng([ position.coords.latitude,
           position.coords.longitude ])
           }
           },
           function( err ) {
           console.log( err );
           }
           );
           }, 1000);
           */
        } );
        asset.on( 'position', function ( data ) {
          if ( !assets[data.identity] ) {
            assets[data.identity] = new L.Marker( [ data.position.coords.latitude,
                                                    data.position.coords.longitude ] );
            assets[data.identity].addTo( map );
            //    if ( window.webkitNotifications.checkPermission() == 0) {
            //        alert = window.webkitNotifications.createNotification('icon.png', 'New Asset', 'Named ' + data.identity);
            //        alert.show();
            //    }
          }
          else {
            assets[data.identity].setLatLng( [ data.position.coords.latitude,
                                               data.position.coords.longitude ] )
          }
        } );
      } );
    </script>
  </body>
</html>
