<!doctype html>
<html>
  <head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="/dist/leaflet.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/dist/leaflet.ie.css"/>
    <![endif]-->

    <script src="/dist/leaflet-src.js"></script>
    <script src="/dist/wax.leaf.js"></script>

    <% if ( agent.indexOf( 'Mobile' ) > 0 ) {%>
    <script src="/dist/cordova-2.3.0.js"></script>
    <% } else { %>
    <% } %>
  </head>
  <body>
    <div id="map" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>
    <script src="/browserify?libs=branding"></script>
    <script src="/browserify"></script>
    <script>
      var b = require( 'branding' );
    </script>
    <script>
      var map = new L.Map( 'map' );

      //wax.tilejson( 'http://' + document.location.hostname + ':8888/relief.jsonp',
      //    function ( tilejson ) {
      //      map.setView( new L.LatLng( -37, 144 ), 9 );
      //      map.addLayer( new wax.leaf.connector( tilejson ) );
      //    }
      //);
      wax.tilejson( 'http://api.tiles.mapbox.com/v2/mapbox.geography-class.jsonp',
          function ( tilejson ) {
            map.addLayer( new wax.leaf.connector( tilejson ) );
            map.setView( new L.LatLng( -37, 144 ), 9 );
          }
      );
    </script>
  </body>
</html>
